video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: auto;
    z-index: -1;
}

.jumbotron {
    background-color: transparent !important;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}

ul.name {
    position: absolute;
    left: 450px; 
    margin-top: 20px;
    z-index: 2;
    width: 500px;
    height: 250px;
}

ul.name li {
    display: inline;
}

.name span {
    color: white;
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    top: 0;
    text-shadow: 5px 10px black;
}

ul.name:hover span {
    text-shadow: -1px -1px 25px var(--yellow), -1px -1px 2px var(--invert);
    transition: 2000ms ease-out;
}

.overlay {
    top: 300px;
    left: 30px;
    position: relative;
    width: 960px;
    height: 165px;
}

.btn {
    margin-left: 40px;
    width: 180px;
    opacity: 0.7;
}

.dropdown {
    top: 20px;
    padding: 0;
}

.menu {
    width: 180px;
}

.menu li {
    margin-left: 5px;
}

form {
    background-color: transparent !important;
    width: 675px;
    height: 175px;
    left: 10px;
}



#mainNavbar .navbar-brand {
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 5px black;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 5px black;
}

.navbar {
    background: rgba(243, 220, 224, 0.3);
    height: 75px;
}

#mainNavbar i {
    padding: 15px;
}


#results-here {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(180, 195, 216, 0.2);
    max-width: 700px;
    margin-top: 300px;
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {} 

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {} 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {} 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {} 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}