@import url(root/variables.css);

video {
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.jumbotron {
    background-color: transparent !important;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}
/*
    optional title
------------------------*/
ul.name {
    position: var(--absl);
    top: 100px;
    left: 36%;
    margin-top: 80px;
    z-index: 10;
}

ul.name li {
    display: inline;
}

.name span {
    color: white;
    cursor: default;
    font-size: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    letter-spacing: 30px;
    text-shadow: 3px 8px 20px var(--invert), 2px 2px 3px var(--green);
    transition: 700ms ease-in;
}
ul.name:hover span {
    text-shadow: -1px -1px 25px var(--yellow), -1px -1px 2px var(--invert);
    transition: 2000ms ease-out;
}
span.italic {
    font-style: italic;
}
/*
    end of optional title
------------------------*/
/*
ul.name {
    position: absolute;
    left: 37%;
    margin-top: 20px;
    z-index: 2;
    width: 500px;
    height: 250px;
}

ul.name li {
    display: inline;
}

.name span {
    color: white;
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    top: 0;
    text-shadow: 5px 10px black;
}

ul.name:hover span {
    text-shadow: -1px -1px 25px var(--yellow), -1px -1px 2px var(--invert);
    transition: 2000ms ease-out;
}
*/

.overlay {
    position: relative;
    top: 300px;
    left: -10px;
    width: 960px;
    height: 165px;
}
.no-wrap {
    display: flex;
    flex-wrap: nowrap;
}
.btn {
    margin-left: 40px;
    width: 180px;
    opacity: 0.7;
}

.dropdown {
    top: 20px;
    padding: 0;
}

.menu {
    width: 180px;
}

.menu li {
    margin-left: 5px;
    cursor: pointer;
}

.menu li:hover a {
    background-color: #dddd;
    display: block;
}

form {
    background-color: transparent !important;
    width: 675px;
    height: 175px;
    left: 10px;
}

#mainNavbar .navbar-brand {
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 5px black;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 5px black;
}

.navbar {
    background: rgba(243, 220, 224, 0.3);
    height: 75px;
}

#mainNavbar i {
    padding: 15px;
}


#results-here {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(180, 195, 216, 0.2);
    max-width: 700px;
    margin-top: 300px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
